*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  background: url("../img/williandutras.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 660px;
}

.home{
  padding: 10% 0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin: 30px 0;
}

span{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

svg{
  fill: #fff;
  margin: 0 10px;
  transition: all .25s linear;
}

svg:hover{
  fill: #00f0c5;
}

@media screen and (max-width: 880px){
  body{
    background-position: right;
  }
}
