.menu-anchor{
    width: 40px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    background: transparent;
    margin: 11px 0 0 11px;
}
.menu-anchor:before{
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: #3ac989;
    box-shadow: 0 .45em 0 0 #3ac989, 0 .9em 0 0 #3ac989;
    transition: all .25s linear;
}
.menu-anchor:after{
    content: "";
    display: block;
    margin: 7px auto;
    width: 70%;
    height: 0.25em;
    background: transparent;
    transition: all .25s linear;
}
.menu-active .menu-anchor:before{background: transparent; box-shadow: 0 .25em 0 0 #3ac989; transform: rotate(-45deg); position: absolute; transition: all .25s linear;}
.menu-active .menu-anchor:after{box-shadow: 0 .25em 0 0 #3ac989; transform: rotate(45deg); position: absolute; top: 0px; left: 5px; transition: all .25s linear;}
menu{
    position: fixed;
    top: -16px;;
    left: -40px;;
    z-index: 1;
    width: 220px;
    height: 100%;
    padding-top: 10px;
    background: #13131f;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    ul{list-style: none; margin-left: -40px;}
    li a {
        display: block;
        margin: 0 10px;
        padding: 10px;
        color: #FFF;
        text-decoration: none;
        list-style: none;
        text-transform: uppercase;
        transition: all .25s linear;
    }li a:hover {
        color: $azul-claro;
    }
    hr{width: 70%; height: 1px; text-align: center; border: 0; background: $azul-claro;}
}
menu {
    -webkit-transform: translateX(-220px);
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    transform: translateX(-220px);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}
header, .main {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    transition: all .25s linear;
}
.menu-active menu {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.menu-active .header,
.menu-active .main {
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    transform: translateX(220px);
}

#particles-js{position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: -1;}
