@media screen and (max-width: 467px){
  button{
    left: 0px !important;
    top: -3px;
    width: 195px;
  }
  input[type="text" i]{
    width: 179px;
  }
  .post {line-height: 0.9 !important;}
  .post h3{line-height: 0 !important;}
  .post hr {width: 193px !important;}
  .highlight pre { padding: 20px; overflow-x: scroll;}
  .follow {display: none;}

  .header {height: 480px;}
  .email {width: 179px;}
  .botao {left: 0 !important; top: -3px; width: 195px;}
}
