.rede-sociais{
  display: none;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.facebook{
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background: #3b5998;
  display: flex;
}

.twitter{
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background: #1da1f2;
  display: flex;
}

.github{
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background: #262626;
  display: flex;
}

.snapchat{
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background: #fffc00;
  display: flex;
}

.youtube{
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background: #9f1418;
  display: flex;
}
