<footer class="rodape">
  <p>All content © 2018 <a href="/sobre-mim">Brenda Andrade</a> - Powered by <a href="https://pearcoffee.io/" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Click no link da Pear Coffee');">Pear Coffee</a>.</p>
</footer>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="{{ "/assets/js/instafeed.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/js/main.js" | relative_url }}"></script>
