<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta name="HandheldFriendly" content="true">
  <meta name="MobileOptimized" content="320" />
  <meta name="theme-color" content="‪#3ac989">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} - Willian Dutras{% else %}{{ site.name }}{% endif %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:image" content="{% if page.thumb %}{{ page.thumb }} {% else %}{{ site.thumb }}{% endif %}"/>
  <meta property="og:site_name" content="Willian Dutras"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }} {% else %}{{ site.description }}{% endif%}"/>

  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }} {% else %}{{ site.description }}{% endif%}"/>
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - Willian Dutras{% else %}{{ site.name }}{% endif %}"/>
  <meta name="twitter:site" content="{{ site.twitter_username }}"/>
  <meta name="twitter:domain" content="{{ site.url }}"/>
  <meta name="twitter:image" content="{% if page.thumb %}{{ page.thumb }} {% else %}{{ site.thumb }}{% endif %}"/>
  <meta name="twitter:creator" content="{{ site.twitter_username }}"/>

  <meta name="description" content="{% if page.description %}{{ page.description }} {% else %}{{ site.description }}{% endif%}">
  <meta name="keywords" content="willian dutras, dutras, front end, css3, html5, php, javascript, {{ page.tags }}"/>
  <meta name="author" content="Willian Dutras"/>
  <link rel="canonical" href="{{ site.url }}" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
  <link rel="alternate" type="application/rss+xml" title="{{ page.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="alternate" hreflang="pt-br" href="{{ site.url }}" />

  <link rel="icon" href="{{ "/img/williandutras.jpg" | prepend: site.baseurl }}" type="image/png">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <title>{% if page.title %}{{ page.title }} - Willian Dutras{% else %}{{ site.name }}{% endif %}</title>
</head>
