<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt_BR" }}">

  {% include head-tag.html %}

  <body>

    {% include header.html %}

    <!--{% include categories.html %}-->

    <div class="main">
      {{ content }}

      <section class="sidebar">
        <div class="widget about">
          <img src="{{ "/assets/img/brendaandrade.jpg" | relative_url }}" alt="Sou Brenda Andrade, estudante de administração e apaixonada pela escrita. Busco sempre a beleza nas pequenas coisas." title="Sou Brenda Andrade, estudante de administração e apaixonada pela escrita. Busco sempre a beleza nas pequenas coisas." class="img-responsive">
          <p>Sou Brenda Andrade, tenho {{ "now" | date: '%y' | plus: 2 }} anos, sou estudante de administração e apaixonada pela escrita, também amo animais e busco sempre a beleza nas pequenas coisas.</p>
          <a href="/sobre-mim" class="more">saiba mais →</a>

          <a class="blsdk-follow" href="https://www.bloglovin.com/blogs/altos-insights-be-a-minimalist-everyday-18850787" target="_blank" data-blsdk-type="button">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
        </div>
        <div class="widget">
          <h2>instagram</h2>
          <div id="instafeed"></div>
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
