<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt_BR" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!--{% include categories.html %}-->

    <div class="main">
      {{ content }}

      <section class="sidebar">
        <div class="widget about">
          <img src="{{ "/assets/img/brendaandrade.jpg" | relative_url }}" alt="Sou Brenda Andrade, estudante de administração e apaixonada pela escrita. Busco sempre a beleza nas pequenas coisas." title="Sou Brenda Andrade, estudante de administração e apaixonada pela escrita. Busco sempre a beleza nas pequenas coisas." class="img-responsive">
          <p>Sou Brenda Andrade, tenho {{ "now" | date: '%y' | plus: 2 }} anos, sou estudante de administração e apaixonada pela escrita, também amo animais e busco sempre a beleza nas pequenas coisas.</p>
          <a href="/sobre-mim" class="more" onclick="ga('send', 'event', 'link', 'click', 'Click no Sobre lateral');">saiba mais →</a>

          <a class="blsdk-follow" href="https://www.bloglovin.com/blogs/altos-insights-be-a-minimalist-everyday-18850787" target="_blank" data-blsdk-type="button">Follow</a><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s);js.id = id;js.src = "https://www.bloglovin.com/widget/js/loader.js?v=1";fjs.parentNode.insertBefore(js, fjs);}(document, "script", "bloglovin-sdk"))</script>
        </div>
        <div class="widget">
          <h2>instagram</h2>
          <div id="instafeed"></div>
        </div>

        <div class="widget">
          <h2>facebook</h2>
          <div class="fb-page" data-href="https://www.facebook.com/altosinsights/" data-width="337px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/altosinsights/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/altosinsights/">Altos Insights</a></blockquote></div>
        </div>

        <div class="widget">
          <h2>publicidade</h2>
          <a href="https://go.hotmart.com/E8670277U" target="_blank">
            <img id="ads_hotmart" src="{{ "/assets/img/ads.jpg" | relative_url }}" alt="">
          </a>
        </div>

        <div class="widget">
          <h2>10 Leituras favoritas</h2>
          <style type="text/css" media="screen">
          .gr_grid_container {
            /* customize grid container div here. eg: width: 500px; */
          }

          .gr_grid_book_container {
            width: 43px;
            height: 66px;
            padding: 5px 5px;
            overflow: hidden;
            margin: 0 auto;
            display: inline-block;
          }
          .gr_grid_branding{
            font-family: "Open Sans",sans-serif;
            color: #7f96a5;
            font-size: 14px;
            line-height: 1.625;
          }
        </style>
          <div id="gr_grid_widget_1517679427">
            <div class="gr_grid_container">

              <div class="gr_grid_book_container"><a title="Fortaleza Digital" rel="nofollow" href="https://www.amazon.com.br/gp/product/8580414059/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8580414059&linkId=f42962b6d7bc21f3eb6a847aecdc342e" target="_blank"><img alt="Fortaleza Digital" border="0" src="https://images.gr-assets.com/books/1230052100s/6026313.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="As Crônicas de Nárnia (Chronicles of Narnia, #1-7)" rel="nofollow" href="https://www.amazon.com.br/gp/product/857827069X/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=857827069X&linkId=a66ec965d8884282324a2103f411f366" target="_blank"><img alt="As Crônicas de Nárnia (Chronicles of Narnia, #1-7)" border="0" src="https://images.gr-assets.com/books/1449868701s/11127.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="O dia do Curinga" rel="nofollow" href="https://www.amazon.com.br/gp/product/8535910247/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8535910247&linkId=4ed70cff156bc866a777906bec50aff5" target="_blank"><img alt="O dia do Curinga" border="0" src="https://images.gr-assets.com/books/1387694966s/222188.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="O Vendedor de Histórias" rel="nofollow" href="https://www.amazon.com.br/gp/product/8535905200/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8535905200&linkId=b8dd22fe5abeae8f2d23d79ef9c8eb16" target="_blank"><img alt="O Vendedor de Histórias" border="0" src="https://images.gr-assets.com/books/1379762694s/7376676.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="O Código da Vinci" rel="nofollow" href="https://www.amazon.com.br/gp/product/8580416256/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8580416256&linkId=b0083fec2b75d1f0eae30f735604dbde" target="_blank"><img alt="O Código da Vinci" border="0" src="https://images.gr-assets.com/books/1303252999s/968.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="Ponto de Impacto" rel="nofollow" href="https://www.amazon.com.br/gp/product/8599296019/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8599296019&linkId=303c4cc870049f21796478525c98b60a" target="_blank"><img alt="Ponto de Impacto" border="0" src="https://images.gr-assets.com/books/1483093875s/3145246.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="A Menina que Roubava Livros" rel="nofollow" href="https://www.amazon.com.br/gp/product/8598078174/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8598078174&linkId=b189cce200c706f25725668e02f44b30" target="_blank"><img alt="A Menina que Roubava Livros" border="0" src="https://images.gr-assets.com/books/1436384112s/3153393.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="Jaina Proudmoore: Marés da Guerra" rel="nofollow" href="https://www.amazon.com.br/gp/product/8501401250/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8501401250&linkId=dad7d2bd6d1909fc3aa42b6046a6cf04" target="_blank"><img alt="Jaina Proudmoore: Marés da Guerra" border="0" src="https://images.gr-assets.com/books/1345765233s/13260060.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="Querido Jhon" rel="nofollow" href="https://www.amazon.com.br/gp/product/8563219219/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8563219219&linkId=c162d518e7bf0f94d8934d9ce23ab5d3" target="_blank"><img alt="Querido John" border="0" src="https://images.gr-assets.com/books/1397749854s/5526.jpg" /></a></div>

              <div class="gr_grid_book_container"><a title="Elantris" rel="nofollow" href="https://www.amazon.com.br/gp/product/8580445043/ref=as_li_tl?ie=UTF8&tag=altosinsights-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=8580445043&linkId=5b0be9fb0cda206279b21e65d78265f2" target="_blank"><img alt="Elantris" border="0" src="https://images.gr-assets.com/books/1475740953s/68427.jpg" /></a></div>
              <br><br>
              <a href="https://www.amazon.com.br?tag=altosinsights-20&placement=home_multi.gif&site=amazon">
                <img src="{{ "/assets/img/home_multi.gif" | relative_url }}" border="0" alt="Amazon.com.br">
              </a>

              <br style="clear: both"/><br/><a class="gr_grid_branding" rel="nofollow" href="https://www.goodreads.com/user/show/77307736-brenda-andrade" target="_blank">Brenda Andrade's favorite books »</a>
              <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Brenda, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include footer.html %}

  </body>

</html>
