---
layout: default
---

<div class="post-list">
  <article class="post open" id="{{ page.post_id }}" itemscope itemtype="https://schema.org/BlogPosting">

      <h1>{{ page.title | escape }}</h1>
      <span class="details">
        <time datetime='{{post.date | date: "%Y-%m-%d"}}' itemprop="datePublished">{{ page.date | date_to_string }}</time> - {% for tag in page.tags %}<a href="/{{ site.tag_page_dir }}/{{ tag }}">{{ tag }}</a>{% endfor %} - por {% if page.author %} <a href="/sobre-mim" class="author">{{ page.author }}</a> {% endif %}
      </span>

      <!--<button class="" onclick="likePost('{{ page.post_id }}')">Like</button>&nbsp;<span class="like-count"></span>-->

    {{ content }}

    <div class="sharee">
      <p>Share</p>
      <a id="share-fb" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Compartilhe no Facebook" target="_blank"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
      <a id="share-tw" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://twitter.com/intent/tweet?text={{page.title}}%20{{ site.url }}{{ site.baseurl }}{{ page.url }}%20via%20@brendaandrad&hashtags={{ page.tags }}" title="Compartilhe no Twitter" target="_blank"><i class="fa fa-twitter fa-1x" aria-hidden="true"></i></a>
      <a id="share-gp" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Compartilhe no Google Plus" target="_blank"><i class="fa fa-google-plus fa-1x" aria-hidden="true"></i></a>
    </div>
  </article>

  <div class="post send-optin">
    <div class="optin">
      <div id="mc_embed_signup">
        <form action="//altosinsights.us15.list-manage.com/subscribe/post?u=337dcf85c4595df5ca307ad43&amp;id=184fb80abe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self" novalidate>
          <p>Insira seu melhor e-mail pra sempre que sair novos posts você receber em primeira mão!</p>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
            	<input type="text" value="" placeholder="Seu nome" name="FNAME" class="" id="mce-FNAME" required>
              <input type="email" value="" placeholder="Seu melhor e-mail" name="EMAIL" class="required email" id="mce-EMAIL" required>
              <input type="submit" value="Ok!" onclick="ga('send', 'event', 'Signup Form', 'submit', 'Cadastro no optin');" name="subscribe" id="mc-embedded-subscribe" class="enviar button">
            </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_337dcf85c4595df5ca307ad43_184fb80abe" tabindex="-1" value="">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="post comentarios">
    <div class="top-comments">
      <h2>Comentários</h2>
      <ul class="social-post">
        <li>
          <a class="social-media" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Click no instagram');" href="https://www.instagram.com/brenda.andrad/" itemprop="url"><i class="fa fa-instagram fa-lg"></i></a>
          <a class="social-media" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Click no twitter');" href="https://twitter.com/brendaandrad/" itemprop="url"><i class="fa fa-twitter fa-lg"></i></a>
          <a class="social-media" target="_blank" onclick="ga('send', 'event', 'link', 'click', 'Click no facebook');" href="https://www.facebook.com/altosinsights/" itemprop="url"><i class="fa fa-facebook fa-lg"></i></a>
        </li>
      </ul>
    </div>

    <div id="disqus_thread"></div>

    <script type="text/javascript">
    var disqus_loaded = false;
    function load_disqus()
    {
        var disqus_config = function () {
            this.page.url = '{{ site.url }}{{page.url}}';
            this.page.identifier = '{{ site.url }}{{page.url}}';
        };
        var d = document, s = d.createElement('script');
        s.src = '//williandutras.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        disqus_loaded = true;
    };
    window.onscroll = function(e) {
        if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 500)) {
            if (disqus_loaded==false) {
                load_disqus();
            }
        }
    };
</script>

    <!--
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.12';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-comments" data-href="{{ page.url | absolute_url }}" data-width="100%" data-numposts="20"></div>
   -->
  </div>

  <ul class="pager">
    {% if page.previous %}<li class="prev"><a href="{{ page.previous.url }}">&laquo; Post Anterior</a></li>{% endif %}
    {% if page.next %}<li class="next"><a href="{{ page.next.url }}">Próximo Post &raquo;</a></li>{% endif %}
  </ul>

</div>
