---
layout: default-tag
---

  <section class="post-list">
    {% for post in page.posts %}
    <article class="post">
      <h2><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="details">{{ post.date | date: date_format }} - <a href="/{{ site.tag_page_dir }}/{{ post.tags }}">{{ post.tags }}</a> - por <a href="/sobre-mim" class="author">{{ post.author }}</a></span>
      <img src="{{ post.thumb }}" alt="{{ post.title }}" title="{{ post.title }}" class="thumb">
      <p>
        {{ post.content | strip_html | truncatewords: 50 }}
      </p>
      <a href="{{ post.url | relative_url }}" class="more">continuar lendo →</a>
    </article>
    {% endfor %}
  </section>
